[user]
	name = Ethan Dye
	email = mrtops03@gmail.com
	signingkey = 3E5F75E423B9119D
[includeIf "gitdir:~/src/240/"]
	path = ~/.gitconfig-work
[commit]
	gpgsign = true
[color]
	ui = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = /Users/ecdye/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --oneline --decorate --all --graph
	df = diff
	ps = push
